
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EBF0F3;
    
}

a {
    border: none;
}

a.button-back {
    width: 35px;
    height: 35px;
    top: 10%;
    left: 40%;
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 450px;
    background-color: #126E82;
    border-radius: 40px;

}

.centro h1 {
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: 800;
    color: #ffffff;
}

.centro form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_fild {
    position: relative;
    margin: 30px 0;
    background-color: #ffffff;
    color:#C4C4C4;
    border-radius: 40px;
}

.text_fild input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_fild i {
    position: absolute;
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
}

.text_fild input{
    text-indent: 25px;
}

.text_fild  label {
    
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.pass-div {
    position: relative;
    margin: 0 0 20px 0;
}

.pass-div input {
    position: relative;
    font-size: large;
    left: 24%;
    top: 70%;
    color: #ffffff;
    font-weight: 800;
    background-color:#D96E17;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    border: none;
}

.pass-div .signup_link {
    padding-top: 10px;
    text-align: center;
}


.aa{
    text-decoration: none;
    color: black;
    font-weight: bold;
}