@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --color-one: #D8E3E7;
    --color-two: #51C4D3;
    --color-three: #126E82;
    --color-four: #132C33;
    --color-five: #000;
    --color-six:  #F6C74D;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.externa{
    position: relative;
    width:100%;
    height:200px;
}
.topo{
    background-color: var(--color-four);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
}

.container-config{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    left:50%;
    top:50%;
    margin-left:-100px; /* Metade do valor da Largura */
    margin-top:-50px; /* Metade da valor da Altura */
    position:absolute;
    width:200px; /* Valor da Largura */
    height:100px;
}
input{
    font-size: 18px;
    width: 100%;
    border: 2px solid var(--color-six);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}
p{
    text-align: left;
}
input[type='file'] {
    display: none;
}

.max-width {
    max-width: 500px;
    width: 100%;
    display: flex;
}
h4{
    margin: 40% 10% 0% 0%;
    text-align: left;
}
#imgPhoto {
    margin-top: 25%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #eee;
    border: 5px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}

#imgPhoto:hover{
    background-color: rgb(180, 180, 180);
    border: 5px solid var(--color-six);
}
.container {
    width: 96%;
    margin: 0 auto;
}
.field .field-input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--color-three);
}
.campo {
    margin-bottom: 1em;
    text-align: center;
}
.campo label {
    margin-bottom: 0.2em;
    display: block;
}
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}
.campo select option {
    padding-right: 1em;
}

textarea {
    width: 30em;
    border: 2px solid var(--color-six);
}
.box-botao{
    align-items: center;
}
.botao {
    font-size: 1.2em;
    background: var(--color-four);
    border: 0;
    margin-bottom: 1em;
    color: var(--color-one);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
    border-radius: 15px;
    width: 50%;
}
.botao:hover {
    background: var(--color-three);
    color: var(--color-one);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.356);
    text-shadow: none;
}
.botao, select{
    cursor: pointer;
}    