* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #9cb9c138;
}

:root {
    --color-one: #D8E3E7;
    --color-two: #51C4D3;
    --color-three: #126E82;
    --color-four: #132C33;
    --color-five: #000;
    --color-six:  #D96E17;
    --color-seven: #c5c5c5;
    --color-eight: #994e10;
  }


.section{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-22{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.texto-h1 h1{
    width: 80%;
    color: var(--color-three);
    font-size: 45px;
    font-weight: 600;
}

.linha{
    width: 90%;
    height: 2px;
    background: var(--color-six);
    margin: 50px;
}

.button{
    background-color:  var(--color-six);

    font-size: 14px;
    font-weight: 500;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border:  var(--color-six);
 
}
.img-anotacao{
    justify-content: center;
    align-items: center;
}

 .img-anotacao img{
    width: 300px;
 }

 .texto-anotacao h2{
    color: var(--color-three);
    text-transform: uppercase;
    font-size: 35px;
    margin-left: 100px;
    font-weight: 1000;

 }

.texto-anotacao p{
    margin-top: 90px;
    margin-left: 100px;
    font-size: 24px;
    color: var(--color-five);
    font-weight: 300;
}

 .pipe-quemSomos{
    width: 3px;
    height: 300px;
    background-color:  var(--color-six);
    margin-left: 40px;

 }

 .mensagem{   
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.content1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.content2{
    width: 30%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.mensagem .content1 h2{
    color:var(--color-three);
    font-size: 36px;
    text-align: right;
}

.mensagem .content2 h2{
    color:var(--color-three);
    font-size: 36px;
    text-align: left;
}

.mensagem .content1 p {
    margin-top: 40px;
    font-size: 20px;
    text-align: right;
}

.mensagem .content2 p {
    margin-top: 40px;
    font-size: 20px;
    text-align: left;
}

.container-box{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;    

}

.section-box{
    margin-top: 200px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imag-box{
    display: flex;
    justify-content: center;      
}

.content-img{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-img img{
    margin-bottom: 20px;
}



.section-time{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{
    width: 100%;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
}

.section-time h1{
    text-align: center;
    text-transform: uppercase;
    color: var(--color-three);
}

.container-time{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--color-six);
}
.container-time .time{
    display: flex;
    justify-content: center;
    width:100%;
}

.time .integrante1 img{
    width:70%;
    margin:2%;

}

.time .integrante1 p{
    float:right;
    max-width:500px;
    text-align: right;
    display: flex;
}
.time .integrante1 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .integrante2{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .integrante2 p{
    float:left;
    max-width:500px;
    margin-left:10px;
}
.time .integrante2 img{
width:70%;
margin:2%;
vertical-align:top;
}

.time .integrante2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
