

.header{
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    background:  #132C33;


}

.section{
   
    margin-top: 100px;
    margin-bottom: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20%;
    width: 80%; /* margin-right: 70px;  */
    
}

.titulo{
    width: 100%;
    font-size: 55px;
    font-family: 'Poppins';
    font-weight: 800;
    margin-bottom:60px;
}

.form .input input{
    margin-bottom: 90px;
    margin-top: 20px;
}

.form .input input{
    
    width: 30rem;
    height: 59px;
    border-radius: 12px;
    border: solid;
    border-color: #f6c74d;
}

.form .input button{
    margin-bottom: 60px;
    font-size: 25px;
    margin-top: 20px;
    width: 30rem;
    height: 59px;
    color: white;
    border-color: #132C33;
    background-color:#132C33 ;
    border-radius: 12px;

}